<div class="jumbotron center">
<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting App. This is my first application using Ruby on Rails. I hope for it to be the first of many!</p>
</div>