<div class="jumbotron center">
<h1>Team</h1>
<p> Dan Rogers is a web analyst and SEO by trade, and is currently working on building his first application through One Month Rails.</p>
<p><%= link_to "LinkedIn", "http://www.linkedin.com/in/danielneilrogers", class: "btn btn-primary btn-lg" %>
	<br /><br />
	<%= link_to "Angel.co", "https://angel.co/dan-rogers", class: "btn btn-primary btn-lg" %>
	<br /><br />
	<%= link_to "Facebook", "https://www.facebook.com/bemycheeseburger", class: "btn btn-primary btn-lg" %>
</div>